.footer{
    height: 40vh;
    background: var(--indigo);
}
.banner-fullscreen{
    margin: 0;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    height: 100vh;
}
.banner-home{
    background-image: url('../img/banner1.jpeg');
}
.banner-login{
    background-image: url('../img/banner2.jpg');
}
.banner-text{
    background-color: rgba(255,255,255,0.5);
    margin-top: 35vh;
}