<div class="container py-5">
    <h1>{{enterprise.name}}</h1>

    <div class="row my-3 text-center">
        <div class="profile-picture col-md-12">
            <img id="profile" class="img-fluid" src="api/files/enterprises/images/{{enterprise._id}}.jpg">
        </div>
    </div>
    <div class="row my-3">
        <div class="col-md-12">
            <div class="custom-file">
                <label for="imagen" class="custom-file-label">Cambiar imagen</label>
                <input id="imagen" type="file" class="custom-file-input" placeholder="Cambiar imagen" accept="image/png, image/jpeg">
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-md-6 col-xs-12">
            <label>Nombre</label>
            <input class="form-control" type="text" ng-model="enterprise.name">
        </div>
        <div class="col-md-6 col-xs-12">
            <label>Email</label>
            <input class="form-control" type="text" ng-model="enterprise.email">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <label>Sitio web</label>
            <input class="form-control" type="text" ng-model="enterprise.website">
        </div>
        <div class="col-md-6 col-xs-12">
            <label>Telefono</label>
            <input class="form-control" type="text" ng-model="enterprise.phone">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-12">
        </div>
        <div class="col-md-6 col-xs-12">
        </div>
    </div>
    <div class="text-center py-3">
        <button type="button" class="btn btn-info" ng-click="updateEnterprise()">Actualizar información</button>
    </div>
    <div class="row">
        <h3>Ofertas</h3>
        <table class="table table-responsive">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Puesto</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Salario</th>
                    <th scope="col">Viajar</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="o in offers">
                    <th scope="row">{{o._id}}</th>
                    <td>{{o.position}}</td>
                    <td>{{o.description}}</td>
                    <td>{{o.salary}}</td>
                    <td>{{o.travel}}</td>
                    <td>
                        <button type="button" class="btn btn-danger" ng-click="deleteOffer(o._id)">Eliminar</button>
                    </td>
                    <td>
                        <a href="#!offer/{{o._id}}">
                            <button type="button" class="btn btn-info">
                                Modificar
                            </button>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <h3>Añadir oferta</h3>
    <div class="row my-3">
        <div class="col-md-8 col-xs-12">
            <input type="text" class="form-control" ng-model="newOffer.position" placeholder="Puesto">

            <input type="text" class="form-control" ng-model="newOffer.description" placeholder="Descripción">
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="form-check">
                <input type="number" class="form-control" ng-model="newOffer.salary" placeholder="Salario">
                <input ng-model="newOffer.travel" class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Disponibilidad para viajar
                </label>
            </div>
        </div>
    </div>
    <div class="text-center">
        <button type="button" class="btn btn-success my-2" ng-click="addOffer()">Añadir oferta</button>
    </div>



    <div class="row">
        <h3>Aplicaciones</h3>
        <table class="table table-responsive">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id Aplicación</th>
                    <th scope="col">Id Oferta</th>
                    <th scope="col">Aplicante</th>
                    <th scope="col">Puesto</th>
                    <th scope="col">Estado</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="app in applications">
                    <td>{{app._id}}</td>
                    <td>{{app.offer._id}}</td>
                    <td>{{app.user.first_name}} {{app.user.last_name}}</td>
                    <td>{{app.offer.position}}</td>
                    <td>{{app.stage}}</td>
                    <td>
                        <button type="button" class="btn btn-danger" ng-click="deleteApplication(app)">Eliminar</button>
                    </td>
                    <td>
                        <a href="#!application/{{app._id}}">
                            <button type="button" class="btn btn-info">
                                Modificar
                            </button>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>




    <div class="row">
        <h3>Administradores</h3>
        <table class="table table-responsive">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Email</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="a in admins">
                    <th scope="row">{{a._id}}</th>
                    <td>{{a.first_name}}</td>
                    <td>{{a.last_name}}</td>
                    <td>{{a.email}}</td>
                    <td>
                        <button type="button" class="btn btn-danger" ng-click="deleteAdmin(a._id)">Eliminar Administrador</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <h3>Añadir administrador</h3>
    <div class="row">
        <div class="col-md-8 col-xs-12">
            <input type="text" class="form-control" ng-model="newAdmin.email" placeholder="Email">
        </div>
        <div class="col-md-4 col-xs-12">
            <button type="button" class="btn btn-success" ng-click="addAdmin()">Añadir administrador</button>
        </div>
    </div>
</div>